{% extends 'base.html.twig'%}

{% block body %}
    <div class="jumbotron text-center">
        <h1> Ma super agence</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam asperiores ex perspiciatis a. Nobis cumque enim eum, error hic ea velit sed molestiae, consequatur dolor, sequi ducimus suscipit laudantium dolore!
        </p>
    </div>

{% endblock %}